---
import Baselayout from "src/layout/Baselayout.astro";

import SlydsContainer from "@components/Slyds/SlydsContainer.astro";
import SlydGroup from "@components/Slyds/SlydGroup.astro";
import Slyd from "@components/Slyds/Slyd.astro";

import bgImg from "@images/ivan-bandura-XsAz9Mq61XY-unsplash.jpg";
import Accordion from "@components/Accordion.astro";
import NavMenu from "@components/NavMenu.astro";
const imgUrl = `url(${bgImg?.src})`;
---

<!-- TODO: Add support for BlurHash image loading https://www.reddit.com/r/astrojs/comments/1dfe719/blurhash_with_astro/ -->
<Baselayout>
  <NavMenu />

  <SlydsContainer x-data>
    <SlydGroup
      class="hero bg-[url:var(--img-url)]"
      style={{ "--img-url": imgUrl }}>
      <div class="hero-overlay bg-secondary opacity-85"></div>
      <Slyd class="layout-base arrow-down isolate">
        <h1 class="sr-only">Southern MN TCT</h1>
        <h2
          class="xs:text-4xl text-3xl leading-tight font-bold uppercase md:text-5xl xl:text-6xl">
          Filling Southern MN with healthy churches <span class="text-accent">
            for the next 100 years.
          </span>
        </h2>
      </Slyd>
    </SlydGroup>
    <SlydGroup>
      <Slyd class="layout-base arrow-down">
        <h2 class="mb-4 text-2xl font-bold sm:text-3xl md:mb-5 md:text-4xl">
          Jesus is decidedly unstrategic.
        </h2>
        <p class="text-neutral text-sm sm:text-base md:text-xl">
          He came to the sound of angels singing and then spent the next thirty
          years learning carpentry. Even during his public ministry, he spent
          most of his time going at a slow pace in a small place. This is
          unstrategic not because there was no plan, but because the plan
          doesn’t make sense! Yet the madness of this plan is exactly how God
          chose to display the upside-down nature of his Kingdom. Jesus won by
          dying. Jesus chose two women to witness the resurrection. Jesus built
          his church on the preaching of one of his betrayers. Jesus' plan is
          beautiful—but mad. <span class="text-accent">
            Trusting him takes imagination.
          </span>
        </p>
      </Slyd>
    </SlydGroup>
    <SlydGroup>
      <Slyd class="layout-base arrow-down">
        <h2 class="mb-4 text-2xl font-bold sm:text-3xl md:mb-5 md:text-4xl">
          Many view rural ministry as unstrategic.
        </h2>
        <p class="text-neutral text-sm sm:text-base md:text-xl">
          Yet we believe rural ministry presents a unique opportunity to display
          the very upside-down gospel we proclaim. Going at a slow pace in a
          small place as we win by dying embodies the gospel logic of John
          12:24: “Truly, truly, I say to you, unless a grain of wheat falls into
          the earth and dies, it remains alone; but if it dies, it bears much
          fruit." The slowness and smallness of this kind of ministry requires a
          certain kind of gospel imaginary from those who pastor here. It’s the
          kind of imaginary Wendell Berry calls for in his poem Manifesto: The
          Mad Farmer Liberation Front:
        </p>
        <pre
          class="text-base-content/75 py-4 font-sans text-sm sm:text-base md:p-5 md:text-xl">
        So, friends, every day do something
        that won’t compute....
        Invest in the millennium. Plant sequoias.
        Say that your main crop is the forest
        that you did not plant,
        that you will not live to harvest.</pre>
        <p class="text-neutral md:text-xl">
          We’ve caught this madness. And out of this gospel madness <span
            class="text-accent">
            flows our 100 year vision.
          </span>
        </p>
      </Slyd>
    </SlydGroup>
    <SlydGroup
      x-intersect:enter.half="$store.menu = true"
      x-intersect:leave.half="$store.menu = false"
      id="vision">
      <Slyd class="layout-base arrow-done">
        <h2 class="mb-4 text-2xl font-bold sm:text-3xl md:mb-5 md:text-4xl">
          Over the next 100 years, we aim to start and strengthen churches in
          Southern MN that share a <span class="text-accent">
            Gospel Imaginary.
          </span>
        </h2>

        <!-- TODO: Write content for core vision points -->

        <Accordion>
          <h3 slot="title">
            shaped by <span class="text-primary-content font-bold">
              Big God Theology
            </span>
          </h3>
          <p slot="content">
            We emphasize Christ as the sovereign ruler over all of heaven and
            earth.
          </p>
        </Accordion>

        <Accordion>
          <h3 slot="title">
            proclaimed by <span class="text-primary-content font-bold">
              Persuasive Preaching
            </span>
          </h3>
          <p slot="content">
            We seek to proclaim God’s word by conforming the content and intent
            of the sermon with that of the text in a compelling way so that
            listeners are taught, pleased, and moved.
          </p>
        </Accordion>

        <Accordion>
          <h3 slot="title">
            portrayed through <span class="text-primary-content font-bold">
              Intentional Ecclesiology
            </span>
          </h3>
          <p slot="content">
            We promote clear definitions and practice of baptistic church
            governance and ordinances.
          </p>
        </Accordion>

        <Accordion>
          <h3 slot="title">
            experienced as <span class="text-primary-content font-bold">
              Compelling Culture
            </span>
          </h3>
          <p slot="content">
            We seek to build church communities that draw others in through
            gospel love and unity.
          </p>
        </Accordion>

        <Accordion>
          <h3 slot="title">
            spread through <span class="text-primary-content font-bold">
              Deliberately Rural Mission
            </span>
          </h3>
          <p slot="content">
            We are specifically focused on revitalizing and planting churches in
            the region of Southern Minnesota.
          </p>
        </Accordion>
      </Slyd>
    </SlydGroup>
  </SlydsContainer>
</Baselayout>
