<div
  tabindex="0"
  class="collapse-arrow bg-base-100 collapse md:pl-5 md:text-xl">
  <div class="collapse-title text-primary-content/75 pl-0">
    <slot name="title" />
  </div>
  <div class="collapse-content text-primary-content/50 text-base">
    <slot name="content" />
  </div>
</div>
