---
const { title = 'Southern MN TCT', ...props } = Astro.props;
---

<link rel='sitemap' href='/sitemap-index.xml' />
<title>{title}</title>
<meta name='description' content='Website for Southern MN TCT.' />

<!-- TODO: Web analytics -->
<!-- <script data-goatcounter="https://my-account.goatcounter.com/count" async src="//gc.zgo.at/count.js"></script> -->

<!-- TODO: Open Graph tags -->
<meta property='og:title' content='Southern MN TCT' />
<meta property='og:type' content='website' />
<meta property='og:url' content='https://smntct.org/' />
<meta property='og:description' content='Website for Southern MN TCT.' />
<!-- <meta property="og:image" content="https://www.example.com/_astro/seo-banner.BZD7kegZ.webp"> -->
<meta property='og:image:alt' content='' />

<meta charset='utf-8' />
<meta name='viewport' content='width=device-width' />
<meta name='generator' content={Astro.generator} />

<!-- TODO: favicon -->
<link rel='icon' type='image/svg+xml' href='/favicon.svg' />
