---
import Prose from '@components/Prose.astro';

interface Props {
	id: string;
}

const { id } = Astro.props as Props;
---

<!-- Text Content -->
<div
	class="mx-auto my-36 flex max-w-[40ch] scroll-mt-24 items-center justify-center gap-4 sm:max-w-[65ch]"
	{id}
	
>
	<!-- Prose Wrapper -->
	<Prose>
		<slot name="heading" />
		<slot name="body" />
		<slot />
	</Prose>
</div>
