---
import Prose from './Prose.astro';

interface Props {
	id: string;
}

const { id } = Astro.props as Props;
---

<!-- Container --><!-- Text Content -->
<div class="mx-auto my-24 flex max-w-[40ch] items-center justify-center gap-4 sm:max-w-[65ch]" {id}>
	<!-- Prose Wrapper -->
	<Prose>
		<slot name="heading" />
		<slot name="body" />
		<slot />
	</Prose>
</div>
