---
const path = Astro.url.pathname;

let visible;

// TODO: get location.hash and do not use xshow when navigating to /#vision

if (path === "/") {
  visible = "$store.menu";
} else {
  visible = true;
}
---

<aside
  x-data="{isMobile: false, isExtraWide: false}"
  x-cloak
  x-resize.document="isMobile = $width < 700; isExtraWide = $width > 1420"
  x-show={visible}
  x-transition.delay.100ms
  class="layout-base bg-base-100 fixed z-10 h-auto w-full items-center py-4 md:py-6 2xl:flex 2xl:h-full 2xl:w-auto 2xl:py-0 2xl:pl-9">
  <ul
    class="text-neutral/50 text-xxs xs:text-xs flex w-full justify-around gap-4 sm:text-base md:text-xl 2xl:flex-col 2xl:text-2xl">
    <li>
      <a
        x-text="isMobile ? 'Vision' : 'Our Vision'"
        href="/#vision"
        class:list={[
          "hover:text-neutral hover-underline-animation",
          path === "/" && "text-neutral active-accent",
        ]}>
      </a>
    </li>
    <li>
      <a
        x-text="isMobile ? 'Strategy' : 'Our Strategy'"
        href="/strategy"
        class:list={[
          "hover:text-neutral hover-underline-animation",
          (path === "/strategy/" || path === "/strategy") &&
            "text-neutral active-accent",
        ]}>
      </a>
    </li>
    <!-- <li>
      <a
        x-text="isMobile ? 'Who' : 'Who We Are'"
        href="/about"
        class:list={[
          "hover:text-neutral hover-underline-animation",
          (path === "/about/" || path === "/about") &&
            "text-neutral active-accent",
        ]}>
        Who we Are
      </a>
    </li> -->
    <li>
      <a
        class="hover:text-neutral hover-underline-animation"
        href="mailto:hello@smntct.org">
        Contact
      </a>
    </li>
    <li
      class="text-accent hover:text-neutral hover-underline-animation font-bold uppercase 2xl:-order-1">
      <a
        x-text="isMobile ? 'PRAIRIE FORGE' : (isExtraWide ? 'THE PRAIRIE FORGE' : 'THE PRAIRIE FORGE INITIATIVE')"
        href="/">
      </a>
    </li>
  </ul>
</aside>

<style>
  .hover-underline-animation {
    display: inline-block;
    position: relative;
  }

  .hover-underline-animation::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .active-accent::after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(1);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--color-accent);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }

  .hover-underline-animation:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }
</style>
