---
import type { HTMLAttributes } from "astro/types";

interface Props extends HTMLAttributes<"main"> {}

const { ...attrs } = Astro.props;
---

<main {...attrs}>
  <slot />
</main>

<style>
  main {
    overflow-y: scroll;
    overflow-x: hidden;
    overscroll-behavior-y: contain;
    display: grid;
    grid-auto-rows: 100vh;
    grid-auto-flow: row;
    grid-template-columns: 100vw;
    height: 100vh;
    scroll-snap-type: y mandatory;
    width: 100vw;
  }
</style>
